<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pjt.member.mapper.MemberMapper">
 
 
	<insert id="join" parameterType="com.pjt.member.commend.MemberVO">
		insert into member(user_id, user_pw, user_phone, user_address, user_email, user_nick ) values (#{id}, #{pw}, #{phone}, #{address}, #{email}, #{nick} )
	</insert>

	<select id="login" parameterType="com.pjt.member.commend.MemberVO" resultType="int">
		select count(*) as result 
		from member 
		where user_id = #{id} and user_pw =#{pw}
	</select>
	
	<select id="id_check" resultType="STRI">
		select count(*) as result 
		from member where user_id = #{id}
	</select>
	

</mapper>
